*{
  font-family: 'Work Sans', sans-serif;
}


/* This is a nav section */
.gamer-title img{
    width:5rem;
    height:2rem;
    margin-top: 32px;
    

}

.banner-section{
    background-color:rgba(0, 0, 0, 0.05) ;
}
.nav{
    display:flex;
    justify-content: space-around;
    width:100%;
    height:15vh;
    box-shadow: 5px 4px 30px 40px rgba(0, 0, 0, 0.05);
    margin-bottom: 8px;
}
.gamer-title{
    display:flex;
    gap:17px;
    margin-right: 240px;
}

.gamer-title h2{
    font-size: 2.0rem;
    text-align: center;
}

.gamer-title span{
    color: #ff42a5;
}

.menu-list a{
    text-decoration: none;
    color: #3C354F;
}

.menu-list li{
    list-style: none;
    color: #3C354F;
}
.menu-list{
    display:flex;
    align-items: center;
    gap:30px;
    
  
}

.follow-on{
  background-color: #e7e6e9;
  padding: 14px;
  border-radius: 8px;
  margin-bottom: 5px;

}
.fa-youtube{
    font-size: 20px;
    color:red;
    margin-left: 10px;
    margin-right: 5px;
    
    
}

.fa-tiktok{
    font-size: 18px;
}

.fa-tiktok ,.fa-youtube{
    cursor: pointer;
}

/* This is a banner section */
.banner{
    display:flex;
    justify-content:space-between;
    height: 95vh;
    background-color: white;
    width:100%
}
.sign-in-section{
    background-image: url("../images/Group\ 14.png") ;
    background-size: 100%;
   width:70%;
   padding-left: 120px ;
}
.sign-in-section h1{
color: #0B0223;
font-size: 40px;
font-weight: 600;
text-transform: uppercase;
margin-top: 100px;
}
.sign-in-section span{
    font-size: 80px;
    font-weight: 800;
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   padding-top: 10px;
  
}

.sign-in-section p{
    color: #534C64;
    font-size: 20px;
}
.btn{
   display:inline-flex;
   gap:10px;
    border:none;  
}
.sign-in-btn,.go-rogue-btn {
    border-radius: 48px;
    background-color: #ff42a5;
    color:white;
    padding: 18px 35px;
    border:none;
    font-size: 20px;  
}
.go-rogue-btn{
    background-color: #4ec5f7;
}
.banner-img img{
    width:600px;
    height:100%;
    margin-right: 80px;
}

/* This is a image section in a main section */
.img-container{
    height:80vh;
    background-color: #fff9fc;
   display:flex;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: center;
}
.text-container{
    text-align: right;
    padding-right: 100px;
}
.text-container h2{
    font-size: 35px;
    font-weight: 600;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-container p{
    font-size: 15px;
    font-style: normal;
    color: #534C64;  
}
.group-img img{
    width:70%;
    padding-left: 100px;  
}
.know-more-btn{
    font-size: 15px;
    padding:21px 40px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}
.text-container h3{
    color:  #534C64;
    font-size: 20px;
}
/* This is a card section in a main section */
.card-headings{
    text-align: center;
    margin-top: 100px;
}
.card-headings h1{
    color: #0B0223;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.card-headings p{
    color: #534C64;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 60px;
}

.card{
    display:flex;
    justify-content:center;
    gap:20px;
    
}
.card img{
    width:250px;
}
.img-short-info{
    color: #26252b;
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 500;
    
}
.text-img-container{
    display:flex;
    justify-content: center;
    gap:100px;
    margin-top:100px;
}
.tile-description{
    margin-top: 150px;
    text-align: right;

}
.tile-description h2{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}
.tile-description p{
    color: #534C64;
    font-size: 13px;
    font-weight: 400;
}
.play-instantly{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.anniversary-img{
    width:450px;
    margin-left: 80px;
}
.hi-5-img{
    width:200px;
    position:relative; 
    top:-180px;
    border-radius: 4px;
    border:0.1px solid #efd5e9;
 
 
}
.overlape-img-container{
    display:flex;
    flex-direction: column;
}
/* This is a icon section */
.icon-container{
    display:flex;
    justify-content:center;
    gap:20px;
    height:15vh;
    background-color: #fff9fc;
}
.icon-container img{
    width:40px;
}
.icon-info{
   
   padding:10px 13px;
   border-radius: 50px;
   height:40px;
   margin-top: 80px;
   background-color: white;
}
.icon-info span{
    position:relative;
    top:-13px;
    font-size: 16px;
    font-weight: 600;
}
.icon-info-border{
    border:1px solid #ff42a5;
}
.arcade-games{
    color:#ff42a5;
}
.icon-container-2{
    height:33vh;
}
/* This is a footer section */
.footer{
    height:80vh;
    background-color: #0b0223;
}
.logo-title{
    color:white;
    position:relative;
    margin:0px 610px 0px;
    padding-top: 80px;
    padding-bottom: 25px;
}

.list-item{
    display:flex;
    justify-content:center;
    gap:30px;
    padding-bottom:50px;
}
.list-item li{
    list-style: none;
}
.list-item a{
    text-decoration: none;
    color:white;
}

.fa-twitter,.fa-facebook,.fa-linkedin-in,.fa-instagram, .fa-apple {
    width:70px;
 
    size: 100px;
    color:white;

}

.youtube-icon{
    color:white;
    
}
.icon-section{
    text-align: center;
}

.settings-container{
    padding-top: 50px;
    font-size: 13px;
    color:#9d99a7;
    padding-bottom:0px ;

}
.footer-paragraph{
    padding-top:0px;
}

/* Media screen for mobile device */

@media screen and (max-width:576px) {
    .nav{
         flex-direction: column;
         height:auto;
    }
    .gamer-title img{
        margin-left: 70px;
        
    }
    .gamer-title{
        gap:10px;
    }
    .menu-list{
        flex-direction:column;
    }
    .banner{
        flex-direction: column;
        height:100%;
    }
    .sign-in-section{
        padding:5px;
        background-size: 100%;
       
    }
    .sign-in-btn,.go-rogue-btn {
        border-radius: 48px;
        background-color: #ff42a5;
        color:white;
        padding: 10px 25px;
        border:none;
        font-size: 10px
    }
    .banner-img img{
        width:100%;
        height:100%;
        margin-right: 0px;
    }
    
    .img-container{
        height:100%;
        width:100%;
        background-color: #fff9fc;     
        flex-direction: column;
    }
    .text-container{
        text-align:center;
        padding-right: 0px;
    }
    .group-img img{
        width:100%;
        padding-left: 0px;
        
    }
    .card-headings p{
        margin-bottom: 40px;
    }
    
    .card{
        flex-direction: column;
        gap:20px;
        margin-left: 10px;
        
    }
    .img-short-info{
       
        font-size: 15px;
        font-weight: 500;
        margin-left: 1px;
        margin-bottom: 20px;
        
    }
    .text-img-container{
        flex-direction: column;
    }
    .anniversary-img{
        width:150%;
        margin-left: 0px;
        position:relative;
        left:50px;
    }
    .hi-5-img{
        width:60%;
        position:relative; 
        top:-80px;
        left:14px;
        border-radius: 4px;
        border:0.1px solid #efd5e9;
     
    }
    .overlape-img-container{
        width:50%
    }

    .tile-description{
        margin-top: 0px;
        text-align:center;
    
    }
    
   
    .icon-container{
       flex-direction: column;
       justify-content:center;
       gap:2px;
       height:50%;
       background-color: #fff9fc;
    }   
    .icon-info{
       padding:10px 13px;
       border-radius: 50px;
       height:40px;
       margin: 0px 5px 0px;
       margin-top: 30px;  
       background-color: white;
     }

     .footer{
        height:100%;
        width:100%;
        background-color: #0b0223;
        margin-top: 5px;
    }
    .logo-title{
        color:white;
        position:relative;
        margin:0px;
        padding-top: 50px;
        padding-bottom: 25px;
        padding-right: 50px;
    }

    .list-item{
       display:grid;
       grid-template-columns: repeat(3, 1fr);
        gap:10px;
        padding:0px 5px 0px;
        padding-bottom:50px;
        padding:0px 5px 0px;
    }
    .fa-twitter,.fa-facebook,.fa-linkedin-in,.fa-instagram, .fa-apple {
        width:auto;
        
        size: 100px;
        color:white;
        padding-top: 30px;
        padding-bottom: 30px;
    
    }

    .icon-silection{
        display:grid;
        grid-template-columns: repeat(3, 200px);
        width:100%;
        height:100%;
        padding-top: 50px;
        
    }
    .settings-container{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        padding:10px 0px 5px 10px;
    }
    .footer-paragraph{
        display:inline-block;
        font-size: 10px;
    }
}


/* Media screen for tablet */

@media screen and (min-width:577px) and (max-width:992px){
    .nav{
        justify-content: space-between;
        height:auto;
        width:auto;
   }

   .gamer-title{
    display:flex;
    gap:17px;
    margin-right: 0px;
    margin-left: 10px;
}

.menu-list{
    display:flex;
    align-items: center;
    gap:15px;
    margin-right: 10px;
    
  
}

.banner{
    display:flex;
    justify-content:space-between;
    height: 100%;
    background-color: white;
    width:100%

}
.sign-in-section{
    background-image: url("../images/Group\ 14.png") ;
    background-size: 100%;
   width:100%;
   padding-left: 10px ;
   
}
.sign-in-section h1{
color: #0B0223;
font-size:30px;
font-weight: 600;
text-transform: uppercase;
margin-top: 100px;
}
.sign-in-section span{
    font-size: 60px;
    font-weight: 800;
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   padding-top: 10px;
  
}
.btn{
    display:inline-flex;
    gap:10px;
     border:none;
     
 }
 .sign-in-btn,.go-rogue-btn {
     border-radius: 48px;
     background-color: #ff42a5;
     color:white;
     padding: 10px 20px;
     border:none;
     font-size: 20px;
     
     
   }

 
   .banner-img img{
      width:100%;
      height:100%;
      margin-right: 80px;
    }

   .img-container{
     height:100%;
     width:100%;
     background-color: #fff9fc;     
     flex-direction: column;
   }
   .text-container{
      text-align:center;
      padding-right: 0px;
   }
   .group-img img{
      width:100%;
      padding-left: 0px;
    
   }
   .card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    
}

.text-img-container{
    flex-direction: column;
}
.anniversary-img{
    width:150%;
    margin-left: 0px;
    position:relative;
    left:100px;
}
.hi-5-img{
    width:60%;
    position:relative; 
    top:-180px;
    left:14px;
    border-radius: 4px;
    border:0.1px solid #efd5e9;
 
}
.overlape-img-container{
    width:50%
}

.tile-description{
    margin-top: 0px;
    text-align:center;

}


.icon-container{
   display:grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(3,1fr);
    
    gap:2px;
    height:50%;
    background-color: #fff9fc;
 }   
 .icon-info{
    padding:10px 13px;
    border-radius: 50px;
    height:40px;
    margin: 0px 5px 0px;
    margin-top: 30px;  
    background-color: white;
  }

  .footer{
    height:100%;
    width:100%;
    background-color: #0b0223;
    margin-top: 5px;
}
.logo-title{
    color:white;
    position:relative;
    margin:0px;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-right: 0px;
    right:-250px
}

.list-item{
   display:grid;
   grid-template-columns: repeat(3, 1fr) ;
   justify-content: center;
   width:auto;
    padding: 0px;
    padding-bottom:40px;
    margin-left: 70px;
}

.fa-twitter,.fa-facebook,.fa-linkedin-in,.fa-instagram, .fa-apple {
  padding-bottom: 40px;
  padding-top: 0px;
}

.icon-silection{
    display:grid;
    grid-template-columns: repeat(3, 200px);
    width:100%;
    height:100%;
    padding-top: 50px;
    
}
.settings-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    padding:10px 0px 5px 10px;
}
.footer-paragraph{
    display:inline-block;
    font-size: 10px;
    margin-left: 220px;
}
 
}